services:
  - type: web
    name: samp-chat-server
    env: python
    region: frankfurt
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python server.py
    envVars:
      - key: HOST
        value: 0.0.0.0
      - key: PORT
        sync: false
